.sp-replacer {
    // margin: 0;
    // overflow: hidden;
    // cursor: pointer;
    // padding: 4px;
    padding:0;
    // display: inline-block;
    // border: solid 1px #91765d;
    border: none;
    // background: #eee;
    background: none;
    // color: #333;
    color: inherit;
    // vertical-align: middle;
}


.sp-container {
    // border-radius: 0;
    // background-color: #ECECEC;
    // border: solid 1px #f0c49B;
    // 
    @extend .panel;
    @extend .panel-default;

    padding: 0;
}
.sp-palette-container {
	// @extend .panel-body;
}

.sp-container button {
    background:none;
	@extend button;
	@extend .btn;
	@extend .btn-default;
  // background-color: #eeeeee;
  // background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  // background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  // background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  // background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
  // background-image: linear-gradient(to bottom, #eeeeee, #cccccc);
  // border: 1px solid #ccc;
  // border-bottom: 1px solid #bbb;
  // border-radius: 3px;
  // color: #333;
  // font-size: 14px;
  // line-height: 1;
  // padding: 5px 4px;
  // text-align: center;
  // text-shadow: 0 1px 0 #eee;
  // vertical-align: middle;
}
.sp-container button:hover {
    // background-color: #dddddd;
    // background-image: -webkit-linear-gradient(top, #dddddd, #bbbbbb);
    // background-image: -moz-linear-gradient(top, #dddddd, #bbbbbb);
    // background-image: -ms-linear-gradient(top, #dddddd, #bbbbbb);
    // background-image: -o-linear-gradient(top, #dddddd, #bbbbbb);
    // background-image: linear-gradient(to bottom, #dddddd, #bbbbbb);
    // border: 1px solid #bbb;
    // border-bottom: 1px solid #999;
    // cursor: pointer;
    // text-shadow: 0 1px 0 #ddd;
    background-image:none;
    @extend button:hover;
	@extend .btn:hover;
	@extend .btn-default:hover;
}
.sp-preview {
    // position:relative;
    // width:25px;
    // height: 20px;
    // border: solid 1px #222;
    // border:
    @extend .form-control;
    // margin-right: 5px;
    // float:left;
    // z-index: 0;
}
.sp-preview-inner {
    border-radius: 3px; // one less than border-radius of .form-control
}