<p><b>Categorization Types</b> + Categories:</p>
<hr/>
<ul id="taxn-ctrls">
	<li class="tax" ng-repeat="tax in taxTree.taxonomies">
		<input 
			ng-model="tax.name"
			class="tax-name"
			type="text"
			placeholder="Categorization-Type Name"
		>
		<ul>
			<li class="term" ng-repeat="term in tax.terms">
				<input 
					ng-model="term.name" 
					class="term-name"
					type="text"
					placeholder="New Category Name"
				>
			</li>
			<li>
				<label
					class="new-term-button   btn btn-primary btn-med"
					ng-click="taxn.addNewTermTo(tax);"
				>
					New Category
				</label>
				
			</li>
		</ul>
	</li>
	<li>
		<label 
			class="new-tax-button   btn btn-primary btn-med"
			ng-click="taxn.addNewTax();"
		>
			New Categorization Type
		</label>
	</li>
</ul>


<pre>
DEV-TODOS: 
- Only save and sort the items after typing is completed. It's annoying to have it jump partway through.
- Allow deletion of categories and category-types, including removal of those categories from recipient organizations.
- Work with Skip, Jim, Alsa to plan default categorizations, and how users adopt and modify those categorizations.
- Allow manual ordering of categories and categorization-types
</pre>