<p><b>Categorization Types</b> + Categories:</p>
<hr/>

<div id="taxn-ctrls" class="row">
	<div class="tax  col-xl-4" ng-repeat="tax in taxTree.taxonomies">
		<ul>
			<li>
				<input 
					ng-model="tax.name"
					class="tax-name"
					type="text"
					placeholder="Categorization-Type Name"
				>
				<ul>
					<li class="term" ng-repeat="term in tax.terms">
						<input 
							ng-model="term.name" 
							class="term-name"
							type="text"
							placeholder="New Category Name"
						>
					</li>
					<li>
						<label
							class="new-term-button   btn btn-primary btn-med"
							ng-click="taxn.addNewTermTo(tax);"
						>
							New Category
						</label>
						
					</li>
				</ul>
			</li>
		</ul>
	</div><!-- .tax -->
	<div id="new-tax  col-xl-4">
		<ul>
			<li style="display:none;">.</li>
			<li>
				<label 
					class="new-tax-button   btn btn-primary btn-lg-NOT"
					ng-click="taxn.addNewTax();"
				>
					New Categorization Type
				</label>
			</li>
			<li  style="display:none;">.</li>
		</ul>
	</div><!-- #new-tax -->
</div><!-- #taxn-ctrls -->


<pre>
FEATURES AND FIXES FOR FUTURE DEVELOPMENT: 
- Only save and sort the items after typing is completed. It's annoying to have it jump partway through.
- Allow deletion of categories and category-types, including removal of those categories from recipient organizations.
- Work with Skip, Jim, Alsa to plan default categorizations, and how users adopt and modify those categorizations.
- Allow manual ordering of categories and categorization-types
- Allow tabbing to "New..." buttons
</pre>