<!-- Big Text Art: http://patorjk.com/software/taag/ - Font Name: ANSI Shadow -->
<!-- Little Text Art: http://fsymbols.com/generators/tarty/ - enbale "Brighter" -->
<!-- Better Yet: break up templates into smaller pieces: http://stackoverflow.com/questions/16397748/split-angular-template-into-multiple-small-templates -->


<!-- 
 ██████╗██╗  ██╗ █████╗ ██████╗ ████████╗
██╔════╝██║  ██║██╔══██╗██╔══██╗╚══██╔══╝
██║     ███████║███████║██████╔╝   ██║   
██║     ██╔══██║██╔══██║██╔══██╗   ██║   
╚██████╗██║  ██║██║  ██║██║  ██║   ██║   
 ╚═════╝╚═╝  ╚═╝╚═╝  ╚═╝╚═╝  ╚═╝   ╚═╝    -->

<div class="col-sm-6 col-sm-push-6">
	<!-- <highchart-spacer></highchart-spacer> TODO/COMING SOON-->
	<!-- <highchart ng-if="pie" id="givingChartFlat" config="pie.config"></highchart> -->
	<highchart ng-if="donutPie" id="givingChartCategorized" config="donutPie.config"></highchart>
	<!-- ng-if-NOT="{ chart~category }" -->
	<div class="panel text-center">
		<sp/>
		<div ng-if="budget.monthly()">
			<a href="#/budget">Budget</a> Usage: <b>{{ orgs.percentBudgetUsed() | number:0 }}%</b>
		</div>
		<div ng-if="!budget.monthly()" style="opacity:.6;">
			To see % budget usage, input your <a href="#/budget">Giving Budget</a>. 
		</div>
		<sp/>
	</div>
</div>

<!-- 
 ██████╗ ██████╗  ██████╗ 
██╔═══██╗██╔══██╗██╔════╝ 
██║   ██║██████╔╝██║  ███╗
██║   ██║██╔══██╗██║   ██║
╚██████╔╝██║  ██║╚██████╔╝
 ╚═════╝ ╚═╝  ╚═╝ ╚═════╝  -->

<div id="org-controls" class="col-sm-6 col-sm-pull-6">
	<div class="panel panel-default" style="border-top: 4px solid {{orgs.selectedOrg.color}}; box-shadow:0px 2px 4px -2px {{orgs.selectedOrg.color}}">
		<div class="panel-body">	
			<div id="org-editor" ng-if="orgs.selectedOrg">
				
				<!-- 
				██████╗ ██╗███████╗██████╗ ██╗      █████╗ ██╗   ██╗
				██╔══██╗██║██╔════╝██╔══██╗██║     ██╔══██╗╚██╗ ██╔╝
				██║  ██║██║███████╗██████╔╝██║     ███████║ ╚████╔╝ 
				██║  ██║██║╚════██║██╔═══╝ ██║     ██╔══██║  ╚██╔╝  
				██████╔╝██║███████║██║     ███████╗██║  ██║   ██║   
				╚═════╝ ╚═╝╚══════╝╚═╝     ╚══════╝╚═╝  ╚═╝   ╚═╝    -->

				<div class="row">
					<div class="col-xs-9">
						<!-- 
						░█▄─░█ █▀▀█ █▀▄▀█ █▀▀ 
						░█░█░█ █▄▄█ █─▀─█ █▀▀ 
						░█──▀█ ▀──▀ ▀───▀ ▀▀▀ 
						 -->
						<sp/>
						Organization:
						<input 
							ng-model="orgs.selectedOrg.name"
							ng-change="orgs.pushOrgState(orgs.selectedOrg)"
							ng-style-NOT="{color: orgs.selectedOrg.color}"
							ng-focus="foci.name = true;"
							ng-blur="foci.name = false;"
							class="form-control input-lg" 
						/>

					</div>
					<!-- <div class="col-xs-2">
						<span class="glyphicon glyphicon-chevron-down"></span>
					</div> -->
					<div class="col-xs-3">
						<!-- 
						░█▀▀█ █▀▀█ █── █▀▀█ █▀▀█ 
						░█─── █──█ █── █──█ █▄▄▀ 
						░█▄▄█ ▀▀▀▀ ▀▀▀ ▀▀▀▀ ▀─▀▀ 
						 -->
						Color:
						<sp/>
						<spectrum-colorpicker 
							ng-model="orgs.selectedOrg.color" 
							format="'hex'"
							options="colorPickerOptions"
						>
						</spectrum-colorpicker>
					</div>
				</div>
				<sp/>

				<!-- 
				 ██████╗ ██╗██╗   ██╗██╗███╗   ██╗ ██████╗ 
				██╔════╝ ██║██║   ██║██║████╗  ██║██╔════╝ 
				██║  ███╗██║██║   ██║██║██╔██╗ ██║██║  ███╗
				██║   ██║██║╚██╗ ██╔╝██║██║╚██╗██║██║   ██║
				╚██████╔╝██║ ╚████╔╝ ██║██║ ╚████║╚██████╔╝
				 ╚═════╝ ╚═╝  ╚═══╝  ╚═╝╚═╝  ╚═══╝ ╚═════╝  -->

				<div id="org-fixed-giving" ng-if="true"><!-- ng-if=" 'orgGiving' == orgs.givingBasis " -->
					<hr/>
					<label>Giving:</label>
					<!-- <hr/> -->
					<sp/>
					<!-- 
					░█▀▄▀█ █▀▀█ █▀▀▄ ▀▀█▀▀ █──█ █── █──█ 
					░█░█░█ █──█ █──█ ──█── █▀▀█ █── █▄▄█ 
					░█──░█ ▀▀▀▀ ▀──▀ ──▀── ▀──▀ ▀▀▀ ▄▄▄█ 
                     -->

					<div id="monthlyControl" class="row">
						<div class="col-xs-4">Monthly:</div>
						<div class="col-xs-5">
							<div class="input-group">
								<div class="input-group-addon">$</div>
								<input
									ng-model="orgs.selectedOrg.monthly"
									ng-change="orgs.applyChangedMonthly(orgs.selectedOrg)"
									ng-focus="foci.monthly = true;"
									ng-blur="foci.monthly = false;"
									type="number"
									step="{{ orgs.selectedOrg.monthly / 5 }}"
									class="form-control"
								/>
							</div>
						</div>
						<div class="col-xs-3">
					        <label class="btn btn-sm btn-default" ng-model="orgs.selectedOrg.basis" btn-radio="'amount'">{{ 'amount' == orgs.selectedOrg.basis ? "fixed" : "fix" }}</label>
						</div>
					</div>					
					<!-- <hr/> -->
					<!-- 
					░█──░█ █▀▀ █▀▀█ █▀▀█ █── █──█ 
					░█▄▄▄█ █▀▀ █▄▄█ █▄▄▀ █── █▄▄█ 
					──░█── ▀▀▀ ▀──▀ ▀─▀▀ ▀▀▀ ▄▄▄█ 
					 -->
					<sp/>
					<div id="yearlyControl" class="row">
						<div class="col-xs-4">Yearly:</div>
						<div class="col-xs-5">
							<div class="input-group">
								<div class="input-group-addon">$</div>
								<input
									ng-model="orgs.selectedOrg.yearly"
									ng-change="orgs.applyChangedYearly(orgs.selectedOrg)"
									ng-focus="foci.yearly = true;"
									ng-blur="foci.yearly = false;"
									type="number"
									step="{{ orgs.selectedOrg.yearly / 5 }}"
									class="form-control"
								/>
							</div>
						</div>
					    <div class="col-xs-3">
					        <label class="btn btn-sm btn-default" ng-model="orgs.selectedOrg.basis" btn-radio="'amount'">{{ 'amount' == orgs.selectedOrg.basis ? "fixed" : "fix" }}</label>
					    </div>
					</div>
					<sp/>
					<!--
					░█▀▀█ █▀▀ █▀▀█ █▀▀ █▀▀ █▀▀▄ ▀▀█▀▀ 
					░█▄▄█ █▀▀ █▄▄▀ █── █▀▀ █──█ ──█── 
					░█─── ▀▀▀ ▀─▀▀ ▀▀▀ ▀▀▀ ▀──▀ ──▀── 
					 -->
					<div id="percentageControl" class="row">
						<div class="col-xs-4">% of <a href="#/budget">Budget</a>:</div>
						<div class="col-xs-5" ng-if="budget.monthly()">
							<div class="input-group">
								<input
									ng-model="orgs.selectedOrg.percentage"
									ng-change="orgs.applyChangedPercentage(orgs.selectedOrg)"
									ng-focus="foci.percentage = true;"
									ng-blur="foci.percentage = false;"
									type="number"
									step="{{ orgs.selectedOrg.percentage / 5 }}"
									class="form-control"
								/>
								<div class="input-group-addon">%</div>
							</div>
						</div>
						<div class="col-xs-3" ng-if="budget.monthly()">
					        <label class="btn btn-sm btn-default" ng-model="orgs.selectedOrg.basis" btn-radio="'percentage'">{{ 'percentage' == orgs.selectedOrg.basis ? "fixed" : "fix" }}</label>
					    </div>
					    <div class="col-xs-8" ng-if="!budget.monthly()" style="opacity:.6;">
					    	(requires a <a href="/#budget">Giving Budget</a>)
					    </div>
					</div>
					<!-- <hr/> -->
				</div><!-- ng-if=" 'orgGiving' == orgs.givingBasis " -->			
				

				<hr/>
				<!--  
				████████╗ █████╗ ██╗  ██╗███╗   ██╗
				╚══██╔══╝██╔══██╗╚██╗██╔╝████╗  ██║
				   ██║   ███████║ ╚███╔╝ ██╔██╗ ██║
				   ██║   ██╔══██║ ██╔██╗ ██║╚██╗██║
				   ██║   ██║  ██║██╔╝ ██╗██║ ╚████║
				   ╚═╝   ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝  ╚═══╝ -->
				<div id="taxonomization">
					<label>Categorizations:</label> <a style="float:right;" href="#/categories"><sup>[manage]</sup></a>
					<sp/>
					<div class="row"><!-- one 'row', possibility of much repeating -->
						<div class="tax-{{taxId}}" ng-repeat="(taxId,tax) in taxTree.taxonomies">
							<div class="col-xs-12">
								<div class="input-group">
									<div class="input-group-btn" style="font-size:12px">
										<!-- <input type="checkbox"/> -->
										<button 
											ng-model="taxn.selectedTax"
											btn-radio="tax"
											ng-change="taxn.selectedTax = tax; orgs.pushOrgState(orgs.selectedOrg);"
											type="submit"
											class="btn btn-default btn-sm"
										>
											{{ tax.name }}
										</button>
									</div>
									<span style="display:none;">currently: {{ orgs.selectedOrg.taxTerms[taxId] }}</span>
									<select 
										ng-model="orgs.selectedOrg.taxTerms[taxId]"
										ng-change="taxn.selectedTax = tax; orgs.pushOrgState(orgs.selectedOrg);"
										class="form-control input-sm"
									>
										<!-- todo... let it be just `org` rather than `orgs.selectedOrg`.... -->
										<!-- TODO! need to $digest the scope or something when the orgs load in! -->
										<option value=""><!-- uncategorized --></option>
										<option ng-repeat="(termId,term) in tax.terms" value="{{termId}}">
											{{ term.name }}
										</option>
									</select>
								</div>
								<sp/>
							</div>
						</div><!-- ng-repeat in taxs -->
					</div><!-- row -->
				</div> 
				
				<hr/>

				<!-- 
				███╗   ███╗███████╗████████╗ █████╗ 
				████╗ ████║██╔════╝╚══██╔══╝██╔══██╗
				██╔████╔██║█████╗     ██║   ███████║
				██║╚██╔╝██║██╔══╝     ██║   ██╔══██║
				██║ ╚═╝ ██║███████╗   ██║   ██║  ██║
				╚═╝     ╚═╝╚══════╝   ╚═╝   ╚═╝  ╚═╝ -->

		    	<div class="dropdown">
				  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				    Remove
				  </button>
				  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				    <li><a ng-click='orgs.removeSelectedOrg()'>Remove this Organization Permanently</a></li>
				  </ul>
				</div>


			</div><!-- ng-if="orgs.selectedOrg" -->
			<div id="select-org-message" ng-if="!orgs.selectedOrg">
				Please select or add an organization.
			</div>
		</div><!-- .panel-body -->
	</div><!-- .panel -->
	<!-- 
	███╗   ██╗ █████╗ ██╗   ██╗
	████╗  ██║██╔══██╗██║   ██║
	██╔██╗ ██║███████║██║   ██║
	██║╚██╗██║██╔══██║╚██╗ ██╔╝
	██║ ╚████║██║  ██║ ╚████╔╝ 
	╚═╝  ╚═══╝╚═╝  ╚═╝  ╚═══╝   -->
	<div id="#orgsNav" class="text-center">
		<div class="btn-group">
			<button class="btn btn-default btn-sm"
				ng-click="orgs.selectPrev()">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</button>
			<button class="btn btn-primary btn-sm"
				ng-click="orgs.addOrg();">
				<span class="glyphicon glyphicon-plus"></span>
			</button>
			<button class="btn btn-default btn-sm"
				ng-click="orgs.selectNext()">
				<span class="glyphicon glyphicon-chevron-right"></span>
			</button>
		</div>
	</div><!-- #orgsNav -->
</div><!-- #org-controls -->
	

<sp/>
<pre>
DEV-TODOS:
- Orgs' category selections, category-based donut charts!
- Display the %-giving-budget-usage as pretty horizontal completion-bar
- Don't require budget as a prerequesite for portfolio/organizations input. Rather, do something like "Input your desired giving budget to show % of budget usage".
- Smoother transitions between screens
- Better view, esp. mobile, when no pie is ready
- Fix: sometimes the categorizations load too slow and don't show up for the first org you click
</pre>