

<div class="col-sm-6 col-sm-push-6">
	<highchart id="givingChartFlat" config="pie.config"></highchart>
	<!-- <highchart id="givingChartCategorized" config="donut.config"></highchart> --><!-- ng-if-NOT="{ ! chart~category } -->
	<!-- ng-if-NOT="{ chart~category }" -->
</div>

<div id="org-controls" class="col-sm-6 col-sm-pull-6">
	<div class="panel panel-default">
		<div class="panel-body">	
			<div id="org-editor" ng-if="orgs.selectedOrg">
				<div class="row">
					<div class="col-xs-10">
						Organization:
						<sp/>
						<input 
							ng-model="orgs.selectedOrg.name"
							ng-change="orgs.pushOrgState(orgs.selectedOrg)"
							ng-style-NOT="{color: orgs.selectedOrg.color}"
							class="form-control input-lg" 
						/>

					</div>
					<!-- <div class="col-xs-2">
						<span class="glyphicon glyphicon-chevron-down"></span>
					</div> -->
					<div class="col-xs-2">
						Color:
						<sp/>
						<spectrum-colorpicker 
							ng-model="orgs.selectedOrg.color" 
							format="'hex'"
							options="colorPickerOptions"
						>
						</spectrum-colorpicker>
					</div>
				</div>
				<sp/>
				
				<div ng-if=" 'portion' == orgs.givingBasis ">

					<div class="row">
						<div class="col-xs-12 text-left">
							Parts/portions of total giving:
						</div>
					</div>
					<sp/>
					<div class="row">
						<div class="col-xs-4">
							<input 
								ng-model="orgs.selectedOrg.portion"
								ng-change="orgs.pushOrgState(orgs.selectedOrg);" 
								ng-style-NOT="{color: orgs.selectedOrg.color}"
								class="form-control input-lg text-center" 
								type="number"
							/>
						</div>
						<div class="col-xs-8">
							<sp/>
							<!-- coming soon: 
								leave "portion" totally behind. instead:

								can enter `percentage` or `monthly` dollar or `yearly` dollar amount, 
									and the others will update. 
										one func per field-updated, 
											rolling the values from this field into the other.
								dollars used instead of 'portion' for y vals.
								NOW:
									"undesignated giving budget" and "surplus giving over budget" are displayed on portfolio view.
										LATER: option to show 'undesignated' slice (gray)... is a receipient.
										we're literally creating an org
							-->
							<div class="btn-group">
								<button class="decrease btn btn-sm btn-warning"
									
									ng-click="orgs.incrementOrgPortion(orgs.selectedOrg, -5)">

									<span class="glyphicon glyphicon-minus"></span>
									<span class="glyphicon glyphicon-minus"></span>
								</button>
								<button class="decrease btn btn-sm btn-warning"
									
									ng-click="orgs.incrementOrgPortion(orgs.selectedOrg, -1)">

									<span class="glyphicon glyphicon-minus"></span>
								</button>
								<button class="increase btn btn-sm btn-success"

									ng-click="orgs.incrementOrgPortion(orgs.selectedOrg, 1)">

									<span class="glyphicon glyphicon-plus"></span>
								</button>
								<button class="increase btn btn-sm btn-success"

									ng-click="orgs.incrementOrgPortion(orgs.selectedOrg, 5)">
									
									<span class="glyphicon glyphicon-plus"></span>
									<span class="glyphicon glyphicon-plus"></span>
								</button>
							</div><!-- .btn-group -->
						</div>						
					</div>
					

					<div id="report">
						<hr>
						<div class="row">
							<div class="col-xs-6">% of total Giving:</div>
							<div class="col-xs-6"><output>
								{{
									orgs.getOrgGivingCoefficient(orgs.selectedOrg)
									*
									100 
									| 
									number:0 
								}} 
								%
							</output></div>
						</div>
						<div class="row">
							<div class="col-xs-4">Monthly Giving:</div>
							<div class="col-xs-5"><output>
								$ 
								{{ 
									orgs.getOrgGivingCoefficient(orgs.selectedOrg)
									*
									budget.monthly() 
									| 
									number:2 
								}}
							</output></div>
						</div>					
						<div class="row">
							<div class="col-xs-4">Yearly Giving:</div>
							<div class="col-xs-5"><output>
								$
								{{
									orgs.getOrgGivingCoefficient(orgs.selectedOrg)
									*
									budget.yearly() 
									| 
									number:2 
								}}
							</output></div>
						</div>
					</div><!-- report -->
				</div><!-- ng-if=" 'givingBudget' == orgs.givingBasis" -->





				<div ng-if="true"><!-- ng-if=" 'orgGiving' == orgs.givingBasis " -->
					<hr>
					<div class="row">
						<div class="col-xs-4">% of total Giving:</div>
						<div class="col-xs-5"><output>
							<div class="input-group">
								<input
									ng-model="orgs.selectedOrg.percentage"
									ng-change="orgs.applyChangedPercentage(orgs.selectedOrg)"
									type="number"
									class="form-control"
								/>
								<div class="input-group-addon">%</div>
							</div>
						</output></div>
						<div class="col-xs-3">
					        <label class="btn btn-sm btn-default" ng-model="orgs.selectedOrg.basis" btn-radio="'percentage'">{{ 'percentage' == orgs.selectedOrg.basis ? "fixed" : "fix" }}</label>
					    </div>
					</div>
					<hr>
					<div class="row">
						<div class="col-xs-4">Monthly Giving:</div>
						<div class="col-xs-5"><output>
							<div class="input-group">
								<div class="input-group-addon">$</div>
								<input
									ng-model="orgs.selectedOrg.monthly"
									ng-change="orgs.applyChangedMonthly(orgs.selectedOrg)"
									type="number"
									class="form-control"
								/>
							</div>
						</output></div>
						<div class="col-xs-3">
					        <label class="btn btn-sm btn-default" ng-model="orgs.selectedOrg.basis" btn-radio="'amount'">{{ 'amount' == orgs.selectedOrg.basis ? "fixed" : "fix" }}</label>
						</div>
					</div>					
					<hr>
					<div class="row">
						<div class="col-xs-4">Yearly Giving:</div>
						<div class="col-xs-5"><output>
							<div class="input-group">
								<div class="input-group-addon">$</div>
								<input
									ng-model="orgs.selectedOrg.yearly"
									ng-change="orgs.applyChangedYearly(orgs.selectedOrg)"
									type="number"
									class="form-control"
								/>
							</div>
						</output></div>
					    <div class="col-xs-3">
					        <label class="btn btn-sm btn-default" ng-model="orgs.selectedOrg.basis" btn-radio="'amount'">{{ 'amount' == orgs.selectedOrg.basis ? "fixed" : "fix" }}</label>
					    </div>
					</div>
					<hr>
				</div><!-- ng-if=" 'orgGiving' == orgs.givingBasis " -->			
				


				<!-- 
				<hr>
				<div class="row">
					<div class="col-xs-5">Category</div>
					<div class="col-xs-7">Category thing here</div>
				</div> 
				-->


		    	<div class="dropdown">
				  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				    Remove
				  </button>
				  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				    <li><a ng-click='orgs.removeSelectedOrg()'>Remove this Organization Permanently</a></li>
				  </ul>
				</div>
			</div><!-- ng-if="orgs.selectedOrg" -->
			<div id="select-org-message" ng-if="!orgs.selectedOrg">
				Please select or add an organization.
			</div>
		</div><!-- .panel-body -->
	</div><!-- .panel -->
	<div id="#orgsNav" class="text-center">
		<div class="btn-group">
			<button class="btn btn-default btn-sm"
				ng-click="orgs.selectPrev()">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</button>
			<button class="btn btn-primary btn-sm"
				ng-click="orgs.addOrg();">
				<span class="glyphicon glyphicon-plus"></span>
			</button>
			<button class="btn btn-default btn-sm"
				ng-click="orgs.selectNext()">
				<span class="glyphicon glyphicon-chevron-right"></span>
			</button>
		</div>
	</div><!-- #orgsNav -->
</div><!-- #org-controls -->
	

<div class="budget-vs-portfolio-report">

	<div id="money~left" ng-model-NOT="{ budget.yearly() - recipientOrgs.totalGiving()~">
	</div>

</div>